# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
mvenv/
env/
fastapienv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories and files
.vscode/
.idea/
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Environment / secret files
.env

# Ml models
*.pyc
*.pkl